<html>
  <head>
    <title>Main content</title>
  </head>
  <body>
      <h1>Hello, Me!</h1>
      <a href="{{ url_for('page1') }}">Page1</a>
      <a href="{{ url_for('page2') }}">Page2</a>
      <a href="{{ url_for('page3') }}">Page3</a>
  </body>
</html>