<html>
  <head>
    <title>Page1</title>
  </head>
  <body>
      <h1>Page numba wan</h1>
      <a href="{{ url_for('index') }}">Main</a>
      <a href="{{ url_for('page2') }}">Page2</a>
      <a href="{{ url_for('page3') }}">Page3</a>
  </body>
</html>