<html>
  <head>
    <title>Page2</title>
  </head>
  <body>
      <h1>Page numba tu</h1>
      <a href="{{ url_for('index') }}">Main</a>
      <a href="{{ url_for('page1') }}">Page1</a>
      <a href="{{ url_for('page3') }}">Page3</a>
  </body>
</html>