<html>
  <head>
    <title>Page3</title>
  </head>
  <body>
      <h1>Page numba fri</h1>
      <a href="{{ url_for('index') }}">Main</a>
      <a href="{{ url_for('page1') }}">Page1</a>
      <a href="{{ url_for('page2') }}">Page2</a>
  </body>
</html>